/* ==UserStyle==
@name           Minimal BetterAnime
@namespace      betteranime.net
@version        1.0.0
@description    Minimal for BetterAnime
@author         zen
==/UserStyle== */
@-moz-document domain("betteranime.net") {
        html {
        margin-top: 90px;
    }
    .navbar {
        position: fixed!important;
        top: 0!important;
        padding: 5px;
        width: 73.5%;
        z-index: 102;
        background: rgba(19, 18, 25, 0.61);
        border-radius: 0 0 10px 10px;
        backdrop-filter: blur(2px);
    }

    #sticky-footer {
        display: none;
    }

    .anime-down-share {
        display: none;
    }

    .anime-info p {
        display: none;
    }

    .report-problem {
        display: none
    }

    li:nth-child(3),
    li:nth-child(4),
    li:nth-child(5) {
        display: none;
    }

    .pt-2 {
        display: none!important;
    }

    .pb-3 {
        padding-bottom: 0.5rem!important
    }

    .anime-title {
        padding-top: 0;
    }

    .pt-4,
    .py-4 {
        padding: 5px!important;
    }

    .dropdown-menu-right,
    div.show {
        backdrop-filter: blur(2px);
        background-color: rgba(19, 18, 25, 0.61)
    }

    #reactions {
        display: none;
    }
}
